<footer class='footer'>
    created by
    <a
        href='https://github.com/joao1-barbosa'
        target='_blank'
        rel='noreferrer'
    > 
        joao1-barbosa
    </a>
    - devChallenges.io
</footer>