<main>
    <h1>Upload your image</h1>
    <h2>File should be Jpeg, Png,...</h2>

    <form action="/" method="post" enctype="multipart/form-data" id="image-form" name="image-form">

        <div class="dragBox" id="dragBox" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <img src="../../public/icons/uploadIcon.svg" class="dragBox-image">
            <p class="dragBox-text">
                Drag & Drop your image here
            </p>
        </div>
        
        <p class="or">
            OR
        </p>
        
        <label class="uploadBtn" id="uploadBtn">
            <input type="file" id="fileInput" name="fileInput"/>
            Choose a file
        </label>
        
    </form>
</main>