<main>
    <h1>Upload your image</h1>
    <h2>File should be Jpeg, Png,...</h2>

    <div class="dragBox">
        <img src="../../public/icons/uploadIcon.svg" class="dragBox-image">
        <p class="dragBox-text">
            Drag & Drop your image here
        </p>
    </div>

    <p class="or">
        OR
    </p>
    
    <input
    id="actual-btn"
    type="file"
    accept='image/jpeg, image/png'
	hidden/>
    
    <label for="actual-bnt" class="uploadBtn" onclick="labelClick()">
        Choose a file
    </label>

    
</main>