<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <style>
    body {background-color: rgb(9, 27, 60) ;}
    </style>
</head>
<body>
    <h1>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa</h1>
    <p>mama aqui</p>
</body>
</html>