<%- include('includes/header'); %>

    <body>
        <main class="mainUploaded">
            <img src="../../public/icons/checkIcon.png" class="check-icon">
            <h1 class="h1Uploaded">Uploaded Successfully!</h1>
        </main>

        <%- include('includes/footer'); %>
    </body>

    </html>